$color1: #735400;
$color2: #6658d3;
$color3: #f1f3fb;
$bordeColor: #eee;
$darkModeBlack: rgb(26, 25, 25);

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  background-color: $color3;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  display: block;
}

// iOS Reset
input {
  appearance: none;
  border-radius: 0;
}

.container {
  overflow: hidden;
}

#complaint {
  display: none;
}

.card {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  //background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
  background-image: url("u.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.card-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: $color2;
  line-height: 1.222;

  small {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
  }
}

.card-form {
  padding: 2rem 1rem 0;
}

.form-heading {
  width: 100%;
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;

  & + .input {
    margin-top: 1.5rem;
  }
}

.dropdown {
  label {
    top: -2px;

    &:focus {
      color: $color2;
    }
  }
}

select option {
  background-color: $color2;
  color: white;
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid $bordeColor;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;

  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: $color2;

    & + .input-label {
      color: #6658d3;
      transform: translateY(-1.5rem);
    }
  }
}

textarea.input-field {
  background-color: $color3;
  padding: 10px;
  border-radius: 10px;
}

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: $color2;
  border-radius: 6px;
  color: #fff;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;

  a {
    display: block;
    color: #6658d3;
    text-decoration: none;
  }
}

.active {
  font-size: 1.2em;
  //background-color: #12047e;
}

.option-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  button {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    border-radius: 6px;
    padding: 10px;
    background-color: $color2;
    border: none;
    color: $color3;
    margin: 2px;
    border-radius: 100mv;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #12047e;
    }
  }
}

#access_module {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

#complaint {
  display: none;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

@import "darkMode";
@import "mediaQueries";
