<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color content =#fff" />
    <title>Student Assistant Portal | CoDE-UCC</title>
    <link rel="stylesheet" href="{{url_for('style',path = 'style.css')}}" />
    <script
      src="https://kit.fontawesome.com/6db44154cb.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('favicon',path = 'apple-touch-icon.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="url_for('favicon',path = 'favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{url_for('favicon',path = 'favicon-16x16.png')}}"
    />
    <link rel="manifest" href="{{url_for('favicon',path = 'site.webmanifest')}}" />
  </head>

  <body>
    <div class="container">
      <!-- code here -->
      <div class="card">
        <button id="dark" class="dark-mode"><i class="fas fa-moon"></i></button>
        <div class="card-image">
          <h2 class="card-heading">
            Student Assistant Portal
            <small>CoDE - UCC</small>
          </h2>
        </div>

        <div class="option-box">
          <button id="openAccess" class="active">Access Modules</button>
          <button id="openComp">Make Complaint</button>
        </div>

        <div class="form-container" id="access_module">
          <div class="form-heading">
            <h1>Access Module Form</h1>
          </div>

          <form action="accessmodules" method="post" class="card-form">
            <div class="input">
              <input type="text" name="name" class="input-field" required />
              <label class="input-label">Full Name</label>
            </div>
            <div class="input">
              <input type="text" name="email" class="input-field" required />
              <label class="input-label" name="email">Email</label>
            </div>
            <div class="input">
              <input
                type="text"
                name="Registration_Number"
                class="input-field"
                required
              />
              <label class="input-label">Registration Number</label>
            </div>

            <div class="input dropdown">
              <label for="program" class="input-label">Program of Study</label>
              <select name="program" id="program" class="input-field">
                <option value="Mathematics and Science">
                  Mathematics and Science
                </option>
                <option value="Education">Education</option>
                <option value="Business">Business</option>
                <option value="ArtsandSocial">Arts and Social</option>
              </select>
            </div>

            <div class="action">
              <button type="submit" class="action-button">Submit</button>
            </div>
          </form>
        </div>

        <div class="form-container" id="complaint">
          <div class="form-heading">
            <h1>Complaint Form</h1>
          </div>

          <form
            action="makecomplaint"
            method="post"
            action=""
            class="card-form"
          >
            <div class="input">
              <input type="text" name="name" class="input-field" required />
              <label class="input-label">Full Name</label>
            </div>
            <div class="input">
              <input type="text" name="email" class="input-field" required />
              <label class="input-label" name="email">Email</label>
            </div>
            <div class="input">
              <input
                type="text"
                name="Registration_Number"
                class="input-field"
                required
              />
              <label class="input-label">Registration Number</label>
            </div>

            <div class="input dropdown">
              <label for="programtype" class="input-label">Program Type</label>
              <select name="program" id="program" class="input-field" required>
                
                <!-- <option value="French">French</option>
                <option value="Ghanaian Language">Ghanaian Language</option> -->

                {% for programs in resources['programs'] %}
                <option value = {{programs}}>{{ programs }} </option>
                {% endfor %}
              </select>
            </div>

            <div class="input dropdown">
              <label for="course" class="input-label">Course</label>
              <select name="course" id="program" class="input-field" required>
                <!-- <option value="1">Course 1</option>
                <option value="2">Course 2</option> -->
                
                {% for program in resources['courses'] %}
                <option value = {{program}}>{{ program }} </option>
                {% endfor %}

              </select>
            </div>

            <div class="input dropdown">
              <label for="study_center" class="input-label">Study Center</label>
              <select
                name="study_center"
                id="study_center"
                class="input-field"
                required
              >
                <!-- <option value="1">Center 1</option>
                <option value="2">Center 2</option> -->
                {% for study_center in resources['study centers'] %}
                <option value={{study_center}}>{{study_center}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="input">
              <label for="complain_msg">Complaint</label>
              <textarea
                name="complain_msg"
                id="complaint_msg"
                cols="30"
                rows="10"
                class="input-field"
                placeholder="Type complaint here"
                required
              ></textarea>
            </div>
            
            <div class="action">
              <button type="submit" class="action-button">Submit</button>
            </div>
          </form>
        </div>
      </div>

      <div class="card-info">
        <p>
          By submitting this form you are agreeing to our
          <a href="#">Terms and Conditions</a>
        </p>
      </div>
    </div>
  </body>
  <script src="{{url_for('js',path = '/index.js')}}"></script>
  
    {% if connection_error %}
    <script>
      alert("Please Check Your Internet Connection"); 
      </script>
    {% endif %}

</html>
